.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  width: 250px;
  //border: solid 1px red;
  border-radius: 20px;
  height: 350px;
  overflow: hidden;
  padding: 14px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  animation: fadeIn_size ease 2s;
  &__img {
    width: calc(100% + 28px);
    margin-top: -14px;
    margin-left: -14px;
    height: 130px;
  }
  &__btn {
    background: linear-gradient(
      180deg,
      rgba(3, 4, 4, 1) 0%,
      rgba(49, 62, 68, 1) 100%
    );
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    }
  }
  &__title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &__description {
    margin: auto;
    margin-bottom: 20px;
    font-size: 14px;
  }
}
