@import "../../../../styles.scss";

.navigation {
  width: 100%;
  min-height: 60px;
  background: #0d1822;
  background: linear-gradient(
    180deg,
    rgba(3, 4, 4, 1) 0%,
    rgba(49, 62, 68, 1) 100%
  );
  padding: 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
  animation: desplegar2 ease 0.7s;
  margin-bottom: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.menu {
  * {
    text-align: left !important;
  }
  width: 90px;
  position: absolute;
  top: 60px;
  left: -90px;
  transition: all 0.4s;
  z-index: 1;
  background: linear-gradient(
    0deg,
    rgba(3, 4, 4, 1) 0%,
    rgba(49, 62, 68, 1) 100%
  );
  &--hiden {
    display: none;
  }
  &--show {
    left: 0;
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.component {
  display: flex;
  color: #fff;
  margin: auto 0;
  &-item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 90px;
    height: 60px;
    margin: auto 0;
    padding: 0;
    cursor: pointer;
    &:hover {
      background: #334557;
      transition: all 700ms;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #fff;
      margin: 0;
      width: 100%;
      height: 60px;
    }
    &:hover {
      text-decoration: none;
      color: #fff;
      text-shadow: 1px 2px 8px #c1c1c1;
    }
  }
}
.hiden {
  display: none;
}

.btn_toggle {
  display: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 20px;
  transition: all 0.3s;
  &:hover {
    color: #222;
    background-color: #ddd;
  }
}
@media (max-width: $breackpoint-cel) {
  .btn_toggle {
    display: block;
  }
  .component {
    display: none;
  }
  .menu {
    &--hiden {
      display: block;
    }
  }
}
