<nav class="navigation" id="navbar">
  <div class="options" id="options">
    <button class="btn_toggle" (click)="showMenu = !showMenu">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="profile-mobile" id="my_name">
      <img class="profile-mobile__img" src="./assets/img/yo.PNG" alt="" />
      <div class="profile-mobile__text">
        <h1>Ignacio Arias</h1>
        <p>Web Developer</p>
      </div>
    </div>
    <div class="component">
      <ng-container *ngTemplateOutlet="links"></ng-container>
    </div>
    <div class="menu menu--hiden" [ngClass]="{ 'menu--show': showMenu }">
      <ng-container *ngTemplateOutlet="links"></ng-container>
    </div>
  </div>
</nav>

<ng-template #links>
  <input class="hiden" id="btn_portafolio" type="radio" name="option" />
  <label class="component-item" for="btn_portafolio">
    <a href="#section_portafolio" (click)="setMenu('btn_portafolio')"
      >Portafolio</a
    >
  </label>
  <input class="hiden" id="btn_skill" type="radio" name="option" />
  <label class="component-item" for="btn_skill">
    <a href="#section_skills" (click)="setMenu('btn_skill')">Skill Set</a>
  </label>
  <input class="hiden" id="btn_activities" type="radio" name="option" />
  <label class="component-item" for="btn_activities">
    <a href="#section_activities" (click)="setMenu('btn_activities')"
      >Activities</a
    >
  </label>
  <input class="hiden" id="btn_contact" type="radio" name="option" />
  <label class="component-item" for="btn_contact">
    <a href="#footer_contact" (click)="setMenu('btn_contact')">Contact</a>
  </label>
</ng-template>
