@import "../styles.scss";

#body {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.sombra {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.containers {
  padding: 30px 30px 40px;
  animation: fadeIn ease 3s;
}

.projects {
  width: 100%;
  max-width: 1160px;
  margin: auto;
}

.titles {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 2px 8px #434343;
  font-weight: lighter;
  margin-bottom: 15px;
  animation: fadeIn ease 2s;
}
.skills {
  background: linear-gradient(
    180deg,
    rgba(49, 62, 68, 1) 0%,
    rgba(3, 4, 4, 1) 50%,
    rgba(49, 62, 68, 1) 100%
  );
  .titles {
    color: white;
    text-shadow: 1px 2px 8px #dfdfdf;
    animation: radient 3s ease-in-out infinite;
  }
}

.container-skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 790px;
  margin: auto;
  .skill {
    animation: fadeIn_size_rotate ease 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 10px 15px;
    &__img {
      width: 80px;
      margin-bottom: 10px;
    }
  }
}

.container-activities {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1360px;
  margin: 25px auto auto;
  overflow-y: auto;
  .activity {
    margin: 5px;
    animation: fadeIn_size_rotate ease 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__img {
      width: 150px;
      height: 150px;
      clip-path: circle(50% at 50% 50%);
      margin-bottom: 10px;
    }
  }
}

.footer {
  background: linear-gradient(
    0deg,
    rgba(3, 4, 4, 1) 0%,
    rgba(49, 62, 68, 1) 100%
  );
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 640px;
  margin: auto;
  p {
    animation: fadeIn ease 2s;
    margin: 10px 0;
    i {
      margin-right: 10px;
    }
    &:hover {
      text-shadow: 1px 2px 8px #c1c1c1;
    }
  }
  .perfil-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

@keyframes radient {
  0% {
    text-shadow: 1px 2px 8px #dfdfdf;
  }
  50% {
    text-shadow: 1px 2px 28px #dfdfdf;
  }
  100% {
    text-shadow: 1px 2px 8px #dfdfdf;
  }
}
@keyframes radient2 {
  0% {
    text-shadow: 1px 2px 8px #434343;
  }
  50% {
    text-shadow: 1px 2px 28px #434343;
  }
  100% {
    text-shadow: 1px 2px 8px #434343;
  }
}

@media (max-width: $breackpoint-table) {
  .containers {
    padding: 20px 10px 30px;
  }
  .container-skills {
    .skill {
      margin: 7px;
      font-size: 13px;
      &__img {
        width: 40px;
        margin-bottom: 10px;
      }
    }
  }

  .container-activities {
    flex-wrap: nowrap;
    .activity {
      font-size: 14px;
      &__img {
        width: 80px;
        height: 80px;
        clip-path: circle(50% at 50% 50%);
        margin-bottom: 10px;
      }
    }
  }
  .footer-container {
    justify-content: space-around;
  }
}
@media (max-width: $breackpoint-cel) {
  .container-activities {
    .activity {
      font-size: 12px;
      &__img {
        width: 70px;
        height: 70px;
        clip-path: circle(50% at 50% 50%);
        margin-bottom: 10px;
      }
    }
  }

  .footer-container {
    justify-content: space-around;
    .perfil-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
  }
}
