@import "../../../../styles.scss";

.banner {
  text-align: center;
  position: relative;
  overflow-x: hidden;
  h1 {
    font-family: "Astonpoliz", sans-serif;
    letter-spacing: 7px;
  }
  h1,
  h2 {
    z-index: 1;
  }
}
.yo {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 90px;
  transform: scaleX(-1);
  animation: profile ease 2s;
}

.monitor {
  background-image: url(/assets/img/monitor.png);
  background-size: 80px 70px;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f1901c;
  animation: fadeIn_rotate ease 2s;
  position: relative;
  margin-top: 10px;
}

#underscore {
  background: #fff;
  width: 20px;
  height: 3px;
  color: #fff;
  position: absolute;
  top: 46px;
  left: 50px;
}

.hiden {
  display: none;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 450px;
  width: 100%;
  text-align: center;
  background-image: url(/assets/img/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  animation: fadeIn ease 2s;
  h1 {
    animation: traslate_name_left ease 2s;
    transition: all 2s;
  }
  h2 {
    animation: traslate_name_rigth ease 2s;
    transition: all 2s;
    text-decoration: underline;
  }
}

@media (max-width: $breackpoint-table) {
  .yo {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0px;
    transform: scaleX(-1);
    animation: profile ease 2s;
  }
}

@media (max-width: $breackpoint-cel) {
  .yo {
    width: 300px;
    position: absolute;
    bottom: 0;
    right: 0px;
    transform: scaleX(-1);
    animation: profile ease 2s;
  }
}

@media (max-width: 500px) {
  .yo {
    width: 200px;
    position: absolute;
    bottom: 0;
    right: -30px;
    transform: scaleX(-1);
    animation: profile ease 2s;
  }
}
