@font-face {
  font-family: "Sansation_Regular";
  src: url("./assets/fonts/Sansation_Regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Astonpoliz";
  src: url("./assets/fonts/Astonpoliz.ttf") format("opentype");
  font-display: swap;
}

$breackpoint-table: 1024px;
$breackpoint-cel: 768px;

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Astonpoliz", "Roboto-Regular", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn_rotate {
  0% {
    transform: rotateY(1440deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn_size {
  0% {
    scale: 0;
    opacity: 0;
  }
  90% {
    scale: 1.1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fadeIn_size_rotate {
  0% {
    scale: 0;
    opacity: 0;
    transform: rotateY(1440deg);
  }
  90% {
    scale: 1.1;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes traslate_name_left {
  0% {
    transform: translateX(-2000px) rotateY(720deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes traslate_name_rigth {
  0% {
    transform: translateX(+2000px) rotateY(720deg);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes desplegar {
  0% {
    opacity: 0;
    z-index: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes profile {
  0% {
    transform: scaleX(-1) translate(-50px);
    opacity: 0;
  }
  90% {
    transform: scaleX(-1) translate(210px);
  }
  100% {
    opacity: 1;
    transform: scaleX(-1) translate(0);
  }
}

@keyframes desplegar2 {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}
